
  
  .text-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .text-container h1{
    
    
    color: rgba(225,225,225, .01);
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/0613a146374721.5607cf2d2d766.png");
    background-repeat: repeat;
    -webkit-background-clip:text;
    animation: animate 15s ease-in-out infinite;
    
    text-transform: uppercase;
    font-weight: 900;
    

/* Assuming you have a parent container with the class 'mt-10' */

  margin-top: 2.5rem; /* You can adjust the value based on your design */

  font-family: 'Palanquin', sans-serif; /* Replace 'Palanquin' with the desired font-family */
  font-size: 6rem; /* Adjust the value as needed */

/* 
.max-sm\:text-\[72px\] {
  font-size: 4.5rem; /* Adjust the value as needed */
/* }

.max-sm\:leading-\[82px\] {
  line-height: 5.125rem; /* Adjust the value as needed */
  font-weight: bold;
/* For the span with class 'xl:bg-white xl:whitespace-nowrap relative z-10 pr-10' */
  /* background-color: #fff;  */
  /* Replace #fff with the desired background color */
  white-space: nowrap;
  position: relative;
  z-index: 10; 
  
  padding-right: 2.5rem; /* Adjust the value as needed */

  }


  
    @keyframes animate {
      0%, 100% {
        background-position: left top;
      }
      25%{
        background-position: right bottom;
       }
      50% {
        background-position: left bottom;
      }
      75% {
        background-position: right top;
      }   
  }

  .text-container span{
    

  white-space: nowrap;



  /* position: relative; */



  z-index: 10; /* Adjust the z-index value as needed */



  padding-right: 2.5rem; /* Adjust the value as needed */

  }

  @media only screen and (max-width: 767px) {
    .text-container h1,span {
      font-size: 4rem; /* Adjust the font size for mobile screens */
    }
  }